.main-div{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.my-div {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
}

.alien-name {
    display: block;
    text-align: center;
}

.alien-address{
    display: block;
    text-align: right;
}

.alien-age{
    display: block;
    text-align: right;
}